```{=html}
<div class="list quarto-listing-custom">

    <div class="notes-detail-list-img-content">
        <ul class="notes-detail-list-img">

        <%/* create custom listing */%>
<% for (const item of items) { %>
  <div class="quarto-post notes-detail-list-img-note"  <%= metadataAttrs(item) %> onclick="window.location.href='<%= item["website"]["site-url"]+"/"+item["outputHref"] %>'" >
      <li class="notes-detail-list-img-entity notes-detail-list-img-date" data-content-date="<%= item['date'] %>">
        <div class="notes-detail-list-img-thumb"><img src="<%= item['image'] %>"></div>
        <div class="notes-detail-list-img-description">
            <h5 class="notes-detail-list-img-title"><%= item['threeword'] %></h5>
            <h6><%= item['title'] %></h6>
            <p><%= item['description'] %><% if (item.categories) {%>
                <div class="listing-categories">
                  <% for (const category of item.categories) { %>
                  <div class="listing-category" onclick="window.quartoListingCategory('/papers/<%=category%>'); return false;"><%= category %></div>
                  <% } %>
                  </div>
                  <% } %>
                  <% if (item.tweethread){%><a href="<%= item['tweetthread'] %>">Twitter Thread</a> <%}%>
                  <% if (item.relatednote){%><a href="<%= item['relatednote'] %>">Note</a> <%}%>
                  <% if (item.relatedpaper){%><a href="<%= item['relatedpaper'] %>">Paper</a> <%}%>
                  <% if (item.press){%><a href="<%= item['publicity'] %>">Publicity</a> <%}%>
                  <% if (item.demo){%><a href="<%= item['demo'] %>">Demo</a> <%}%>
                  <% if (item.repo){%><a href="<%= item['repo'] %>">Repo</a> <%}%>
                </p>
        </div>
    </li>

</div>

<% } %>

	</ul>
</div>
</div>
```