```{=html}
<%/* so category filtering works */%>
<div class="list quarto-listing-custom">

<%/* create custom listing */%>
<% for (const item of items) { %>

  <div class="quarto-post" <%= metadataAttrs(item) %>>
  
    <div class="metadata">

        <div class="listing-date" style="margin-top: 5px;"><%= item['date'] %></div>
        
      </div>
    
      <div class="body">
    
        
      <div class="listing-title anchored">
        <b><%= item['title'] %></b>
      </div>
      

      <div class="listing-subtitle">
        <%= item['subtitle'] %>
      </div>

      <% if (item['image']) { %>
        <img src="<%= item['image'] %>" class="card-img-top"/>
      </br>
      <% } %>
    
      <div class="listing-description">
        <%= item['description'] %>
        <!-- <%=Object.keys(item)%> -->
        <!-- project,execute,website,format,comments,language,toc,title,date,categories,image,subtitle,path,outputHref,date-modified,author,image-alt,description,filename,file-modified,reading-time,sortableValues -->
      </div>
      <!-- <%= item['categories'] %> -->
      <div class="listing-categories">
        <% for (const category of item.categories) { %>
        <div class="listing-category" onclick="window.quartoListingCategory('<%=category%>'); return false;"><%= category %></div>
        <% } %>
        </div>
    </div>
    
  

</div>

<% } %>

</div>
```